<div class="container d-flex p-2" style="margin: 15px 15px">
  <!-- Data is here: <br /> -->
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">Patient ID</th>
        <th scope="col">Appointment Status</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < data.length; i++) {%>
      <tr>
        <td><%= data[i].px_id%></td>
        <td><%= data[i].appt_status%></td>
        <td class="text-center">
          <a class="link-dark" href="/edit/<%= data[i].px_id %>">Edit</a>
        </td>
        <form action="/edit/<%=data[i].px_id %>/delete" method="POST">
          <input type="hidden" name="px_id" value="<%=data[i].px_id %>" />
          <td class="text-center">
            <button class="fas fa-trash btn" type="submit"></button>
          </td>
        </form>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
