<!-- import script file -->
<script>
  function changePool(port) {
    fetch("/changePool", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ newPort: port }),
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        // location.reload();
      })
      .catch((error) => {
        console.error(
          "There has been a problem with your fetch operation:",
          error
        );
      });
  }
</script>

<div
  class="container-fluid d-flex flex-column justify-content-center"
  style="margin: 15px 15px"
>  

  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Appointment ID</th>
          <th scope="col">Appointment Status</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < data.length; i++) {%>
        <tr>
          <td class="align-middle">
            <span> <%= data[i].appt_id%> </span>
          </td>

          <td class="align-middle">
            <div class="d-flex align-items-center">
              <div class="flex-grow-1"><%= data[i].appt_status%></div>

              <!-- <td class="text-center"> -->
              <a class="link-dark" href="/edit/<%= data[i].appt_id %>"
                ><i class="fas fa-edit"></i
              ></a>
              <!-- </td> -->
              <form action="/edit/<%=data[i].appt_id %>/delete" method="POST">
                <input type="hidden" name="appt_id" value="<%=data[i].appt_id %>" />
                <!-- <td class="text-center"> -->
                <button class="fas fa-trash btn mr-1" type="submit"></button>
                <!-- </td> -->
              </form>
            </div>
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>
