<!-- error message here -->
<!-- error message here -->
<% if (singleData.error) { %>
  <div class="alert alert-danger" role="alert">
    <%= singleData.error %>
  </div>
  <% } %>

    <div class="container-fluid d-flex flex-column flex-wrap justify-content-start" style="margin: 15px 15px">
      <h1 class="text-center">Edit Appointment</h1>
      <div class="container w-50 p-2">
        <form class="row g-3" action="/edit/<%=singleData.px_id %>/update" method="POST">
          <!-- appt_id -->
          <div class="col-md-6">
            <label for="appt_id">Appointment ID</label>
            <input type="text" class="form-control" id="appt_id" name="appt_id" placeholder="Enter Appointment ID"
              value="<%=singleData.appt_id %>" />
          </div>

          <!-- clinic_id -->
          <div class="col-md-6">
            <label for="clinic_id">Clinic ID</label>
            <input type="text" class="form-control" id="clinic_id" placeholder="Enter Clinic ID" name="clinic_id"
              value="<%=singleData.clinic_id %>" />
          </div>

          <!-- doctor_id -->
          <div class="col-md-6">
            <label for="doctor_id">Doctor ID</label>
            <input type="text" class="form-control" id="doctor_id" placeholder="Enter Doctor ID" name="doctor_id"
              value="<%=singleData.doctor_id %>" />
          </div>

          <!-- px_id -->
          <div class="col-md-6">
            <label for="px_id">Patient ID</label>
            <input type="text" class="form-control" id="px_id" placeholder="Enter Patient ID" name="px_id"
              value="<%=singleData.px_id %>" />
          </div>

          <!-- time_queued -->
          <div class="col-md-6">
            <label for="time_queued">Time Queued</label>
            <input type="text" class="form-control" id="time_queued" placeholder="Enter Time Queued" name="time_queued"
              value="<%=singleData.time_queued %>" />
          </div>

          <!-- queue_date -->
          <div class="col-md-6">
            <label for="queue_date">Queue Date</label>
            <input type="text" class="form-control" id="queue_date" placeholder="Enter Queue Date" name="queue_date"
              value="<%=singleData.queue_date %>" />
          </div>



          <!-- start_time -->
          <div class="col-md-6">
            <label for="start_time">Start Time</label>
            <input type="text" class="form-control" id="start_time" placeholder="Enter Start Time" name="start_time"
              value="<%=singleData.start_time %>" />
          </div>

          <!-- end_time -->
          <div class="col-md-6">
            <label for="end_time">End Time</label>
            <input type="text" class="form-control" id="end_time" placeholder="Enter End Time" name="end_time"
              value="<%=singleData.end_time %>" />
          </div>

          <!-- appointment_status -->
          <div class="col-md-4">
            <label for="appt_status">Appointment Status</label>
            <input type="text" class="form-control" id="appt_status" placeholder="Enter Appointment Status"
              name="appt_status" value="<%=singleData.appt_status %>" />
          </div>

          <!-- appt_type -->
          <div class="col-md-4">
            <label for="appt_type">Appointment Type</label>
            <input type="text" class="form-control" id="appt_type" placeholder="Enter Appointment Type" name="appt_type"
              value="<%=singleData.appt_type %>" />
          </div>

          <!-- virtual_status -->
          <div class="col-md-4">
            <label for="virtual_status">Virtual Status</label>
            <input type="text" class="form-control" id="virtual_status" placeholder="Enter Virtual Status"
              name="virtual_status" value="<%=singleData.virtual_status %>" />
          </div>

          <!-- Hidden input field for 'version' -->
          <input type="hidden" name="version" value="<%=singleData.version %>" />

          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success w-25">Submit</button>
          </div>

        </form>
      </div>
    </div>